footer {
  background-color: var(--background-color);
  font-size: var(--body-font-size-xs);
  border-top: 1px solid var(--border-color);
}

footer .footer > div {
  margin: auto;
  max-width: var(--content-max-width);
  padding: 32px 24px;
}

footer .footer img {
  max-width: 128px;
  height: auto;
}

footer .footer p {
  margin: 0;
  color: var(--text-color-secondary);
  line-height: 1.6;
}

footer .footer ul {
  list-style: none;
  padding: 0;
  margin: 8px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;
}

footer .footer a:any-link {
  color: var(--text-color-secondary);
  font-size: var(--body-font-size-xs);
}

footer .footer a:hover {
  color: var(--brand-purple);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 32px;
  }
}
